.BookingForm {
  flex: 1;
  max-width: 400px;
}

.confirmation-page-button {
  display: inline-flex;
  text-decoration: none;
  margin-top: 32px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

.input-container label {
  font-weight: bold;
}

.input-container input,
.input-container select {
  padding: 8px;
  border: 1px solid #bbb;
  border-radius: 16px;
}

.input-error {
  color: red;
}

.input-optional {
  color: #aaa;
  font-size: 14px;
}
