.reservation-content {
  padding: 32px 0 64px 0;
}

.reservation-content h2 {
  font-size: 40px;
  margin: 0 0 24px 0;
  font-weight: 400;
}

.reservation-wrapper {
  display: flex;
  gap: 40px;
}

.reservation-img {
  flex: 1;
}

.reservation-img img {
  width: 100%;
  border-radius: 16px;
}
