/* body {
  margin: 0;
  /* font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  --font-heading: "Markazi Text", serif;
  --font-body: "Karla", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-body);
  color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

p {
  line-height: 1.3;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 16px;
  }
}
